<div *ngIf="showDescription" class="flex-row description">
  <p>
    This is a simulation of Conway's Game of Life using a genetic algorithm to find
    random starting patterns that will run for as long as possible inside of a 50x50 game board.
    For the first generation, all boards are seeded randomly about 1% filled. Each generation
    operates as follows:
  </p>
  <div>
    <ol>
      <li>Each board is simulated following Conway's rules until reaching a halted state.
        <ul>
          <li>Each game keeps track of the previous 50 board states. Due to the deterministic nature of Conway's rules, when we reach a state that appears in this list the game is considered halted.</li>
          <li>Many simulations result in small patterns that run forever, but we want to find something that repeats infinitely in a big interesting way.</li>
        </ul>
      </li>
      <li>
        The bottom N performers (as entered below) are culled.
      </li>
      <li>
        N new members are randomly seeded and added to the population
      </li>
      <li>
        Boards are randomly paired and produce 2 offspring, each having half of their parent's board patterns.
      </li>
      <li>
        Child boards are given a 1% chance to mutate for each cell.
      </li>
      <li>
        Child boards become the population for the next generation. Repeat from 1.
      </li>
    </ol>

      <button (click)="showDescription = false">Hide This Description</button>
    </div>
</div>

<div class="flex-column options">
  <div class="flex-row">
    <span class="ul">
      Simulation Options:
    </span>
<label>
  Population:

<input type="number" [(ngModel)]="startingPopulation">
</label>
<label>
  Number To Cull:

<input type="number" [(ngModel)]="numberToCull">
</label>
<button (click)="startSimulation()" *ngIf="!running">Start Simulation</button>
</div>
</div>

<ng-container *ngIf="running">

<div class="flex-row">
  Best Performer Per Generation:
</div>
<div class="flex-row best-performers">
  <app-game-of-life *ngFor="let gene of bestPerformers; let i = index" [generation]="bestPerformers.length - i" [isBest]="true" [cycles]="gene.score" [startGrid]="gene.genes"></app-game-of-life>
</div>

<div class="flex-row active">
  <span class="ul">
    Active Simulation:
  </span>
<span>
  {{currentStep}}
</span>
<span>
  Current Population: {{genes.length}}
</span>
<span>
  Current Generation: {{round}}
</span>
</div>

<div class="flex-row">
  <app-game-of-life *ngFor="let gene of genes; index as i;" (done)="done(gene, $event)" [startGrid]="gene.genes"></app-game-of-life>
</div>
</ng-container>
